/** Stylesheet for the puzzles */

body {
    border: 1px lightgray dotted;
 }

.sortable-code {
    position: static;
    padding-left: 0px;
    margin-left: 2%;
    float: left;
}

.sortable-code > p
{
   font-style: italic; 
   color: gray;   
   margin-bottom: 1px;
}


#sortableTrash { width: 38%; }
#sortable { width: 56%; }

.sortable-code ul {
    font-size: 120%;
    font-family: monospace;

    padding-bottom: 10px;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;

    border-image: initial;

    background-color: #efefff;
    border: 1px solid #efefff;
    padding-top: 5px;
}

.ui-sortable-helper {
    margin-left: 5px!;
}

.sortable-code ul:empty {
  padding-bottom: 30px;
}
.sortable-code li, .sortable-code li:before, .sortable-code li:after {
  box-sizing: content-box;
}
ul.output {
    background-color: #FFA;
}

.ui-sortable {
    margin-top: 5px;
}

 ul#ul-sortable.output li {
    background-color: #efefff;
 }

 ul#ul-sortableTrash {
    padding-left: 5px;
}

 

.sortable-code li {
    margin-top: 5px;
    cursor: move;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-image: initial;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;

    background-color: lightyellow;
    margin-right: 5px;
}
.sortable-code li:hover {
    overflow: visible;
}

ul.incorrect {
    border: 1px solid red;
    background-color: #ffefef;
}

ul.correct {
    background-color: #efffef;
    background-color: #DFF2BF;
}

li.incorrectIndent {
    border: 1px solid red;
    border-left: 10px solid red;
}

li.correctIndent {
    border: 1px solid green;
    border-left: 10px solid green;
}

li.incorrectPosition, .testcase.fail, .testcase.error {
    background-color: #FFBABA;
    border:1px solid red;
}

li.correctPosition, .testcase.pass {
    background-color: #DFF2BF;
    border:1px solid green;
}

.fixed-code-line {
    background-color: #DFF2BF !important;
    cursor: not-allowed !important;
}

.testcase { padding: 10px; margin-bottom: 10px;}
.testcase .msg { font-weight: bold; }
.testcase .error { color: red;}
.testcase .feedback { font-weight: bolder;}
.testcase .fail .expected, .testcase .fail .actual {
    color: red; 
    font-weight: bolder;
}
.testcase .output { 
    display: block; 
    white-space: pre; 
    background-color: #555555;
    color: white;
    font-size: 12px;
    line-height: 15px;
    margin: 5px;
    padding: 5px;
}
/** For styling the toggleable elements */
.jsparson-toggle {
    padding: 0 15px;
    display: inline-block;
    border: 1px dashed black;
    z-index: 500;
    cursor: pointer;
    min-width: 10px;
    min-height: 15px;
}
.jsparson-toggle:empty {
    border-color: red;
}
.jsparson-toggle:empty:before {
    content: "??";
    display: block;
    color: red;
}

#ace-editor-parent {
    position: relative;
}

#ace-editor {
    border: 1px solid lightgray;
    left: 0;
    max-width: 40%;
}

#instructions {
    font-size: medium;
    padding: 15px;
    background-color: whitesmoke;
    border-bottom: 1px lightgray dotted;  
}

div#instructions > hr {
    display: none;
    /* ALTERNATIVE TRIAL border: 0.1px #eee dashed; */
 }

#feedback-dialog {
    display: none;
    /* Hide the dialog by default */
}

.btn {
	margin: 4px;
	padding: 0 1rem !important;
}

#button-div {
   margin-top: 0px;
   width: 100%;
   padding: 10px;
   min-height: 65px;
   padding-right: 2%;

   /* ALTERNATIVE - this CAN BE TRIED 
   border-top: 1px lightgray dotted;
   background-color: whitesmoke;  same with #instructions */

}

#button-div div{
    float: right;
 }



